@import "mixins";

* {
	border: 0 none;
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
	width: 100%;
	overflow: hidden;
}

body {
    background: url("../img/bg.jpg") no-repeat scroll center bottom #000;
    background-size: cover;
    cursor: url("../img/cursors/default.png"), auto;

	&.cursor-help {
		cursor: url("../img/cursors/help.png"), auto;
	}

	&.cursor-ranged {
		cursor: url("../img/cursors/ranged.png"), auto;
	}

	&.cursor-move {
		cursor: url("../img/cursors/move.png"), auto;
	}

	&.cursor-left {
		cursor: url("../img/cursors/left.png"), auto;
	}

	&.cursor-right {
		cursor: url("../img/cursors/right.png"), auto;
	}

	&.cursor-top {
		cursor: url("../img/cursors/top.png"), auto;
	}

	&.cursor-bottom {
		cursor: url("../img/cursors/bottom.png"), auto;
	}
}

@import "loading";
@import "effects";
@import "splash";
@import "menu";
@import "canvas";